<!-- BEGIN registration -->

<form name="band_registration" action="#">
	<input type="hidden" id = "id_user" name="id_user" value="{ID_USER}">
	<ul>
		<li><span class="label"><label for="band_name">Nome del gruppo*</label></span><input type="text" name="band_name" id="band_name" /></li>
		<li><span class="label"><label for="biografia">Biografia*</label></span><textarea name="biografia" id="biografia" >inserire editor</textarea></li>
		<li><span class="label"><label for="messaggio">Messagio anti pirateria*</label></span><textarea name="messaggio" id="messaggio" >inserire editor</textarea></li>
		<li><span class="label"><label for="canzone">Canzone per il concorso* (inserire l'uploader)</label></span><input type="file" name="canzone" id="canzone" /></li>
		<li><span class="label"><label for="titolo_canzone">Titolo canzone*</label></span><input type="text" name="titolo_canzone" id="titolo_canzone" /></li>
		<li><span class="label"><label for="video_url">Video URL (opzionale)</label></span><input type="text" name="video_url" id="video_url" /></li>
	</ul>	
</form>

<!-- END registration -->
