<!-- BEGIN comment -->

<div id="main">
	<div id="flash" align="left"  ></div>
	<div style="margin-left:100px">
		<form action="#" method="post">
			<input type="hidden" id="user_id" value="{USER_ID}">
			<input type="hidden" id="image" value="{IMAGE}">
			<input type="hidden" id="id_commented" value="{ID_COMMENTED}">
			<input type="text" name="title" id="name" value="{USER}" readonly="readonly"/><span class="titles">Username</span><span class="star">*</span><br />
			<textarea name="comment" id="comment"></textarea><br />
			<input type="submit" class="submit" value=" {SUBMIT} " />
		</form>
	</div>

<!-- END comment -->
