<!DOCTYPE html>
<html>
<head>
	<!-- BEGIN header -->
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>{TITLE}</title>
	<meta name="description" content="{DESCRIPTION}" />
	<link rel="stylesheet" type="text/css" href="/templates/default/css/style.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/templates/default/css/style_site.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/templates/default/css/layout.css" media="screen" />
  <link href="{PLAYER_CSS}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/js/uploadify/uploadify.css" />
	<link href="/js/ckeditor/contents.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/js/sb-jq/shadowbox.css">
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/comment.js"></script>
	<script type="text/javascript" src="/js/jplayer/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="/js/jplayer/add-on/jplayer.playlist.min.js"></script>
	<script type="text/javascript" src="/js/uploadify/jquery.uploadify-3.1.js"></script>
	<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="/js/ckeditor/adapters/jquery.js"></script>
	<!-- js del tema-->
	<script src="/templates/default/js/cufon-yui.js" type="text/javascript"></script>
	<script src="/templates/default/js/cufon-replace.js" type="text/javascript"></script>
	<script src="/templates/default/js/Footlight_MT_Light_300.font.js" type="text/javascript"></script>
	<script src="/templates/default/js/Forte_italic_400.font.js" type="text/javascript"></script>
	<script src="/templates/default/js/28_Days_Later_400.font.js" type="text/javascript"></script>
	<script type="text/javascript" src="/templates/default/js/imagepreloader.js"></script>
	<script type="text/javascript">
		preloadImages([
			'/templates/default/css/images/menu-li-a-hover.png']);
	</script>
	<!-- /js tema -->
	<script type="text/javascript" src="/js/sb-jq/shadowbox.js"></script>
	<script type="text/javascript">
	Shadowbox.init();
	</script>
	
	<!-- END header -->

</head>
<!--[if lt IE 7]>
    <script type="text/javascript" src="js/ie_png.js"></script>
       <script type="text/javascript">
           DD_belatedPNG.fix('.menu li a, .png, .staple');
       </script>
<![endif]--><body id="page1">
	<div class="extra">
		<div id="main_site">
