<!DOCTYPE html>
<html>
<head>
	<!-- BEGIN header -->
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>{TITLE}</title>
	<meta name="description" content="{DESCRIPTION}" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="/continentenuovo/js/comment.js"></script>
	<script type="text/javascript" src="/continentenuovo/js/jplayer/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="/continentenuovo/js/jplayer/add-on/jplayer.playlist.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://192.168.0.31/continentenuovo/css/style.css" media="screen" />
	<link href="/continentenuovo/js/jplayer/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
	<!-- END header -->

	
</head>
<body>
	<div>