<!-- BEGIN login-->

<div id="main">
        <ol  id="update" class="timeline"> </ol>
        <div id="flash" align="left"  ></div>
        <div style="margin-left:100px">
                <form method='post' action='{PHPBB_URL}/ucp.php?mode=login'>
                        <label for='username'>Username: </label> 
                                <input type='text' name='username' id='username' size='40' />
                        <label for='password'>Password: </label>
                                <input type='password' name='password' id='password' size='40' />
                        <label for='autologin'>Remember Me?: </label>
                                <input type='checkbox' name='autologin' id='autologin' />
                        <input type='submit' value='Log In' name='login' />
                        <input type='hidden' name="redirect" value='{REDIRECT}'>
                </form>
        </div>
</div>

<!-- END login -->
