<!-- BEGIN page -->

<div class="col-2">
	<div class="top-bg-png png"></div>
	<div class="box">
		<div class="bottom-bg">
			<div class="indent">
				<div class="container">
					<h3>{NOME_BAND}</h3>
						<div id="preview"></div>
						<div id="formbox"> 
							<form id="form" action="./vote.php" method="post">
								<input type=hidden name="sid" value="{SID}">
								<input type=hidden name="idband" value="{IDBAND}">
								<input type="submit" value="Vota">
							</form>
						</div>

					<div id="bio">
						{BIO}
						{IMAGE}
					</div>
					<div id="message">
						{MESSAGE}
					</div>

<!-- END page -->
<style>
   #jquery_jplayer_2 {
      display:none; /* Disables jPlayer when using Flash */
   }
   #jp_container_2{
	   display:none; /* Disables jPlayer when using Flash */
  
	}
</style>
<script type="text/javascript">
$(document).ready(function() {
  $("#jquery_jplayer_2").hide(); /* Disables jPlayer when using Flash */
});
</script>
