<!-- BEGIN page -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function()
		{
		$("span.on_img").mouseover(function ()
			{
			$(this).addClass("over_img");
			});

		$("span.on_img").mouseout(function ()
			{
			$(this).removeClass("over_img");
			});
		});

//Show The Love
$(function() {
		$(".love").click(function() 
			{
			var id = '{IDBAND}' ;
			var user = '{IDUSER}';
			var dataString = 'id='+ id + '&user=' + user;
			var parent = $(this);
			$(this).fadeOut(300);
			$.ajax({
					type: "POST",
					url: "vote.php",
					data: dataString,
					cache: false,
					success: function(html)
					{
						parent.html(html);
						parent.fadeIn(300);
					} 
				});
			return false;
			});
		});

</script>
<div class="col-2">
	<div class="top-bg-png png"></div>
	<div class="box">
		<div class="bottom-bg">
			<div class="indent">
				<div class="container">
					<h3>{NOME_BAND}</h3>
						<a href="#" class="love" id="{IDBAND}">
							<span class="on_img" align="left"> {VOTES} </span> 
						</a>
					<div id="bio">
						{BIO}
						{IMAGE}
					</div>
					<div id="message">
						{MESSAGE}
					</div>

<!-- END page -->
<style>
   #jquery_jplayer_2 {
      display:none; /* Disables jPlayer when using Flash */
   }
   #jp_container_2{
	   display:none; /* Disables jPlayer when using Flash */
  
	}
</style>
<script type="text/javascript">
$(document).ready(function() {
  $("#jquery_jplayer_2").hide(); /* Disables jPlayer when using Flash */
});
</script>
