<!-- BEGIN search -->
	<form name="search_form" action="archive.php" method="GET" id="SearchForm">
		<div>
			<label for="q">Cerca nel sito: </label><input type="text" id="q" name="q" value="{SEARCH}" onfocus="if(this.value=='{SEARCH}') this.value='';" onblur="if(this.value=='') this.value='{SEARCH}';" class="input"/>
			<input type="image" src="/continentenuovo/templates/default/css/images/input-img.gif" />
			
			<!--<input type="submit" value="Cerca" id="search_button" />-->
		</div>
	</form>
<!-- END search -->